/* Form insert styles */
.page-title {
  color: #3ea9e3;
  margin-top: 1em;
  text-align: center;
  text-shadow: 4px 5px 5px #c0c0c0;
  font-weight: bold;
}
form {
  width: 85%;
  margin: 3em auto;
  padding: 1em 2em;
  background-color: #d8e0e1;
  box-shadow: 4px 5px 5px #c0c0c0;
}
form label {
  margin: 1em auto;
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #000080;
}
form input {
  width: 50%;
  margin: auto 1.5em;
  padding: 0.7em;
  border: none;
  box-shadow: 4px 5px 5px #c0c0c0;
}
.but-form-submit {
  width: 180px;
  height: 3em;
  display: block;
  border: none;
  margin: 2em auto;
  padding: 0.7em;
  font-weight: bold;
  color: #000080;
  background-color: #fff;
  box-shadow: 4px 5px 5px #c0c0c0;
}
button:hover {
  color: #fff;
  background-color: #3b3baf;
  cursor: pointer;
}
